$radius: 5px
$search-btn-width: 70px

@mixin td-common
   font-size: 1.1rem
   padding: 0.2rem 0 0.2rem 1rem
   text-align: left

@mixin search-icon
    width: 100%
    height: auto

.loading-icon
    @include search-icon
    max-width: 25px

.loope-icon
    @include search-icon
    max-width: 30px
    
.searchbar
    margin-top: 1rem

.searchbar__input
    width: calc(80vw - $search-btn-width)
    max-width: 700px
    height: 60px
    padding-left: 1rem
    font-size: 1.2rem
    vertical-align: middle
    border: 1px solid gray
    border-right-color: white
    border-top-left-radius: $radius
    border-bottom-left-radius: $radius
    border-top-right-radius: 0
    border-bottom-right-radius: 0

.searchbar__input:focus
    outline: none

.searchbar__button    
    width: $search-btn-width
    height: 60px
    vertical-align: middle
    border: 1px solid gray
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    border-top-right-radius: $radius
    border-bottom-right-radius: $radius
    background-color: rgb(239, 239, 239)
    
.searchbar-wrapper
    position: relative  
    display: inline-block

.sgtn-table
    top: 100%
    width: 100%
    position: absolute
    background-color: white
    border: 1px solid gray
    border-top-left-radius: 0
    border-bottom-right-radius: 0
    border-bottom-right-radius: $radius
    border-bottom-right-radius: $radius
    overflow-x: scroll
    border-spacing: 0

.sgtn-table__td-w-data
   @include td-common
   cursor: pointer

.sgtn-table__td-w-data:hover
    background-color: lightgray

.sgtn-table__td-wo-data
    @include td-common
