$searchbar-radius: 5px


.loope-icon
    width: 100%
    height: auto

.searchbar__input
    width: 220px
    height: 50px
    vertical-align: middle
    border: 1px solid gray
    border-right-color: white
    border-top-left-radius: $searchbar-radius
    border-bottom-left-radius: $searchbar-radius
    border-top-right-radius: 0
    border-bottom-right-radius: 0

.searchbar__button    
    width: 40px
    height: 50px
    vertical-align: middle
    border: 1px solid gray
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    border-top-right-radius: $searchbar-radius
    border-bottom-right-radius: $searchbar-radius
    
.searchbar-wrapper
    display: relative

